<div class="container">
  <h2>{{ challenge?.challenge?.name }}</h2>
  <p>{{ challenge?.challenge?.description }}</p>
  <p>Duration: {{ challenge?.duration }} days</p>

  <div class="progress-tracking">
    <h3>Track your progress</h3>
    <div *ngFor="let task of challenge?.userTasks; let i = index">
      <p>
        Day {{ i + 1 }}:
        <span [ngClass]="{ completed: task.isCompleted }">{{
          task.isCompleted ? "Completed" : "Not completed"
        }}</span>
        <button
          *ngIf="!task?.isCompleted"
          class="btn btn-success"
          (click)="markProgress(task?._id)"
        >
          Mark as Completed
        </button>
        <button
          *ngIf="task?.isCompleted"
          class="btn btn-danger"
          (click)="markProgress(task?._id)"
        >
          Undo
        </button>
      </p>
    </div>
  </div>
  <button class="btn btn-primary" (click)="enroll()">
    Enroll in Challenge
  </button>
</div>
